.v-application , .bgdarker{
    transition: background .3s ease-in-out;
}

.theme--dark.v-application{
    background-color: var(--bg) !important;
}
tbody tr.v-data-table__mobile-table-row td:first-child {
    background-color: var(--primary) !important;
    color: #fff !important;
}